$yellow: 	#fcd41c;
$brown: #662716;
$green: #67aca3;
$olivine: #a0bd73;
$beige-gray: #706854;
$white: #ffffff;
$black: #161616;

.characters{
    text-align: center;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    padding: 1rem;
    padding-bottom: 200px;
}
.title{
    text-align: center;
}
.card{
    border: 1px solid black;
    border-radius: 5px;
}
.character{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quote{
    padding: 30px;
}
.quote_text{
    font-size: 14px;
}
@media (min-width: 850px) {
    .character{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
}
