$yellow: #fcd41c;
$brown: #662716;
$green: #67aca3;
$olivine: #a0bd73;
$beige-gray: #706854;
$white: #ffffff;
$black: #161616;

.episodes {
    text-align: center;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    padding: 1rem;
    padding-bottom: 200px;
}

.selectSeason {
    margin: 50px;
    color: $black;

    span {
        float: left;
        padding: 0.5rem 1.5rem 0.5rem 1.25rem;
        border-radius: 3px;
        background-color: $yellow;
        margin-right: -0.5rem;
        line-height: calc(2rem - 2px);
    }

    select {
        color: $black;
        background-color: $yellow;
        padding: 0.8rem 1.5rem 0.85em 1.25rem;
        width: auto;
        border-radius: 3px;
        border: 0;
        font-size: 16px;
    }
}




.title {
    text-align: center;
}

.card {
    .image {
        opacity: 1;
        height: 150px;
        margin: auto;
        width: 200px;
        transition: 0.3s;
        background-color: #161616;

        .middle {
            transition: .5s ease;
            opacity: 0;
            top: 25%;
            transform: translate(0%, -113%);
            -ms-transform: translate(0%, -113%);
            text-align: center;

            :hover {
                opacity: 1;
                background-color: white;
            }
        }

        .text {
            color: white;
            font-size: 16px;
            height: 150px;
            background-size: 120px 90px;
            background-repeat: no-repeat;
            background-position: center;

            img {
                padding-top: 30px;
                height: 120px;
                width: 170px;
            }
        }

        :hover {
            opacity: 0.2;
        }
    }
}

.episode {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .info {
        max-width: 450px;

        @media (min-width: 768px) {
            max-width: 1140px;
        }
    }

    .video {
        height: auto;
    }

    .comments {
        width: 75%;
        margin-bottom: 80px;

        @media (min-width: 768px) {
            width: 650px;
        }

        .listComments {
            margin: 30px;
            .comment{
                .commentInfo{
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    .commentImage{
                        img{
                            width: 40px;
                            height: 40px;
                        }
                    }
                }

                .commentDate{
                   color: gray;
                   font-size: 12px;
                }
                .commentText{
                    margin-left: 55px;
                }
            }
        }

        .commentForm {
            display: flex;
            flex-direction: column;
            margin: 30px;

            input,
            textarea {
                border-radius: 10px;
                width: 100%;
                padding: 10px 12px;
                font-size: 14px;
                line-height: 16px;
                border: 2px solid #000;
                margin: 10px 0px;
            }

            textarea {
                height: 80px;
                resize: none;
            }

            button {
                background-color: #000;
                color: #fff;
                border-radius: 25px;
                font-size: 16px;
                padding: 8px 52px;
                cursor: pointer;
                margin-top: 15px;
                transition: 0.2s;

                &:hover {
                    background-color: transparent;
                    border-color: #000;
                    color: #000;
                }
            }
        }

    }
}