.container {
  padding: 0 2rem;
}

.main {
  height: 100%;
}

.title {
  text-align: center;
}

.sections {
  text-align: center;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  padding: 1rem;
  padding-bottom: 200px;
}

.card {}

.card_link {

  :hover {
    -o-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    box-shadow: rgba(255, 172, 28, 0.199) -5px 5px, rgba(255, 172, 28, 0.19) -10px 10px;
  }

  img {
    border-radius: 3%;
  }
}


@media (max-width: 600px) {}

@media (prefers-color-scheme: dark) {}