.container {
  padding: 0 2rem;
}

 .main {
  height:100%;
 }
.title{
  text-align: center;
}
 .sections{
  text-align: center;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  padding: 1rem;
  padding-bottom: 200px;
}

.card{
 :hover{
  transform: scale(1.05) rotate(1deg);
 }
}


@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {

}
